{% extends 'skapbase.html' %} 
{% block title %}Become A Tutor{% endblock title %}
{% block breadcrumbtitle %}Become A Tutor{% endblock breadcrumbtitle %}
{% block breadcrumb %}
<a href="{{home_url}}">Home</a>&nbsp;>&nbsp;Become A Tutor
{% endblock breadcrumb %}
{% block main %}
<div
  class="w-[80vw] mx-auto pt-5 flex flex-col space-y-3 items-center justify-between"
>
  <div class="py-4">
    <span class="text-3xl font-semibold flex items-center justify-center"
      >Become a tutor</span
    >
    <div class="text-sm text-center">Please fill in the information below</div>
  </div>
  <form
    name="become_a_tutor"
    class="pb-6"
    action="/registration/become-a-tutor/"
    enctype="multipart/form-data"
    method="post"
  >
    {% csrf_token %}
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="name" class="block text-sm font-semibold px-2">Name:</label
      ><input
        type="text"
        required
        name="name"
        id="name"
        placeholder="Name"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="email" class="block text-sm font-semibold px-2">Email:</label
      ><input
        type="email"
        required
        name="email"
        id="email"
        placeholder="Email"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="gender" class="block text-sm font-semibold px-2">Gender:</label>
      <select
        required
        name="gender"
        id="gender"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      >
        <option value="male" selected>Male</option>
        <option value="female">Female</option>
      </select>
      <span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="date_of_birth" class="block text-sm font-semibold px-2">Date Of Birth:</label
      ><input
        type="date"
        required
        name="date_of_birth"
        id="date_of_birth"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>

    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="phone_number" class="block text-sm font-semibold px-2">Phone Number:</label
      ><input
        type="tel"
        required
        name="phone_number"
        id="phone_number"
        placeholder="Phone Number"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="whatsapp_number" class="block text-sm font-semibold px-2">WhatsApp Number:</label
      ><input
        type="tel"
        required
        name="whatsapp_number"
        id="whatsapp_number"
        placeholder="WhatsApp Number"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="years_of_experience" class="block text-sm font-semibold px-2">Years Of Experience:</label
      >
      <select
        required
        name="years_of_experience"
        id="years_of_experience"
        onchange="edu_bg()"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      >
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10+">10+</option>
      </select><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="highest_qualification_and_institute" class="block text-sm font-semibold px-2">Highest Qualification And Institute:</label
      ><input
        type="text"
        required
        name="highest_qualification_and_institute"
        id="highest_qualification_and_institute"
        placeholder="Highest Qualification And Institute"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="educational_background" class="block text-sm font-semibold px-2">Educational Background:</label>
      <select
        required
        name="educational_background"
        id="educational_background"
        id="educational_background"
        onchange="edu_bg()"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      >
        <option value="olevel_igcse_alevel" selected>
          O level, IGCSE/ A level
        </option>
        <option value="matric_fsc">Matric / FSc</option>
        <option value="other">Other</option>
      </select>
      <span class="text-sm text-red-500"></span>
    </div>
    <div
      id="other_educational_background_div"
      class="flex flex-col w-full sm:w-96 my-2"
    >
      <label for="other_educational_background" class="block text-sm font-semibold px-2">Specify Other Educational Background:</label
      ><input
        type="text"
        id="other_educational_background"
        name="other_educational_background"
        id="other_educational_background"
        placeholder="Specify Other Educational Background"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="can_teach_classes" class="block text-sm font-semibold px-2">Classes you can teach:</label
      ><input
        type="text"
        required
        name="can_teach_classes"
        id="can_teach_classes"
        placeholder="Classes you can teach"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="can_teach_subjects" class="block text-sm font-semibold px-2">Subjects you can teach:</label
      ><input
        type="text"
        required
        name="can_teach_subjects"
        id="can_teach_subjects"
        placeholder="Subjects you can teach"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="can_teach_in_areas" class="block text-sm font-semibold px-2">In which areas you can teach:</label
      ><input
        type="text"
        required
        name="can_teach_in_areas"
        id="can_teach_in_areas"
        placeholder="In which areas you can teach"
        class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      /><span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label class="block text-sm font-semibold px-2"
        >Can you teach on online platforms:</label
      >
      <div class="flex items-center mx-auto w-2/4 justify-between">
        <div>
          <label for="can_teach_on_online_platforms_yes">Yes</label>
          <input
            type="radio"
            required
            value="yes"
            checked
            name="can_teach_on_online_platforms"
            id="can_teach_on_online_platforms_yes"
            class="border-2 border-black m-2"
            id="yes"
          />
        </div>
        <div>
          <label for="can_teach_on_online_platforms_no">No</label>
          <input
            type="radio"
            required
            value="no"
            name="can_teach_on_online_platforms"
            id="can_teach_on_online_platforms_no"
            class="border-2 border-black m-2"
            id="no"
          />
        </div>

        <span class="text-sm text-red-500"></span>
      </div>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="message_or_objective" class="block text-sm font-semibold px-2"
        >Cover Letter:</label
      >
      <textarea
      name="message_or_objective"
      id="message_or_objective"
      placeholder="Cover Letter"
      class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      cols="30"
      rows="10"
      ></textarea>
      <span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="cnic_image" class="block text-sm font-semibold px-2">CNIC:</label
      ><input type="file" name="cnic_image" id="cnic_image" required class="appearance-none file bg-gray-100 py-2 px-4 rounded-md"/><span
        class="text-sm text-red-500"
      ></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="latest_certificate_picture" class="block text-sm font-semibold px-2">Latest Certificate Picture:</label
      ><input type="file" name="latest_certificate_picture" id="latest_certificate_picture" required class="appearance-none file bg-gray-100 py-2 px-4 rounded-md"/><span
        class="text-sm text-red-500"
      ></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
      <label for="cv" class="block text-sm font-semibold px-2">CV:</label
      ><input type="file" name="cv" id="cv" required class="appearance-none file bg-gray-100 py-2 px-4 rounded-md" />
      <span
        class="text-sm text-red-500"
      ></span>
    </div>
    <button id="ftsb" type="submit" class="my-2 block btn relative z-40 text-white bg-skapblue border-2 border-gray-200 m-auto w-full sm:w-96 h-10">submit</button>
  </form>
</div>

{% endblock main %}
{% block script %}
<script>
  let educational_background = document.getElementById("educational_background");
  let otheredubg = document.getElementById("other_educational_background")
  let other_educational_background = document.getElementById(
    "other_educational_background_div"
    );
    function edu_bg() {
      var selectedOption =
      educational_background.options[educational_background.selectedIndex].value;
    if (selectedOption === "other") {
      other_educational_background.classList.remove("hidden");
      console.log("yes daddy");
      otheredubg.setAttribute("required", "true");
    } else {
      other_educational_background.classList.add("hidden");
      otheredubg.removeAttribute("required");
    }
  }
  edu_bg();
</script>
<script>
    var cleave = new Cleave("#phone_number", {
    blocks: [4, 7],
    numericOnly: true,
  });
    var cleave2 = new Cleave("#whatsapp_number", {
    blocks: [4, 7],
    numericOnly: true,
  });
    const form = document.forms.become_a_tutor;
    const name = form.elements.name;
    const email = form.elements.email;
    const date_of_birth = form.elements.date_of_birth;
    const phone_number = form.elements.phone_number;
    const whatsapp_number = form.elements.whatsapp_number;
    const highest_qualification_and_institute = form.elements.highest_qualification_and_institute;
    const can_teach_classes = form.elements.can_teach_classes;
    const can_teach_subjects = form.elements.can_teach_subjects;
    const can_teach_in_areas = form.elements.can_teach_in_areas;
    const message_or_objective = form.elements.message_or_objective;
    const cnic_image = form.elements.cnic_image;
    const latest_certificate_picture = form.elements.latest_certificate_picture;
    const cv = form.elements.cv;
    const ftsb = document.getElementById("ftsb")
    const phoneNoRegex = /^03[0-9]{2} [0-9]{7,11}$/;
    form.addEventListener('submit', validate);
    ftsb.addEventListener('click', validate);
    const fileInputs = document.querySelectorAll('.file');

{% comment %} fileInputs.forEach(fileInput => {
  fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    if (!file) {
      return;
    }
  
    const fileSize = file.size;
    const maxSize = 2 * 1024 * 1024;
  
    if (fileSize > maxSize) {
      setError(fileInput, 'Maximum file size is 2MB');
      fileInput.value = '';
      return;
    }
  });
}); {% endcomment %}

    function validate(event) {
      event.preventDefault();
      resetErrors();
      let valid = true
      if (!name.value.trim()) {
        setError(name, 'Name is required');
        valid = false
      }
      if (!email.value.trim() || !email.checkValidity()) {
        setError(email, 'Please enter a valid email address');
        valid = false
      }
      if (!date_of_birth.value.trim()) {
        setError(date_of_birth, 'Date Of Birth is required');
        valid = false
      }
      if (!phoneNoRegex.test(phone_number.value.trim())) {
        setError(phone_number, 'Please enter a valid Pakistani phone number');
        valid = false
      }
      if (!phoneNoRegex.test(whatsapp_number.value.trim())) {
        setError(whatsapp_number, 'Please enter a valid Pakistani phone number');
        valid = false
      }
      if (!highest_qualification_and_institute.value.trim()) {
        setError(highest_qualification_and_institute, 'Highest Qualification And Institute is required');
        valid = false
      }
      if (!can_teach_classes.value.trim()) {
        setError(can_teach_classes, 'Classes you can teach is required');
        valid = false
      }
      if (!can_teach_subjects.value.trim()) {
        setError(can_teach_subjects, 'Subjects you can teach is required');
        valid = false
      }
      if (!can_teach_in_areas.value.trim()) {
        setError(can_teach_in_areas, 'in which areas you can teach is required');
        valid = false
      }
      if (!message_or_objective.value.trim()) {
        setError(message_or_objective, 'Cover letter is required');
        valid = false
      }
      if (otheredubg.required) {
        setError(otheredubg, 'Other Educational Background is required');
        valid = false
      }
      if (!cnic_image.files[0]) {
        setError(cnic_image, 'Cnic is required');
        valid = false
      }
      if (!latest_certificate_picture.files[0]) {
        setError(latest_certificate_picture, 'Latest Certificate Picture is required');
        valid = false
      }
      if (!cv.files[0]) {
        setError(cv, 'CV is required');
        valid = false
      }
      
      if(valid){form.submit();}
      
    }
    
    function setError(input, message) {
      input.classList.add('border-red-500');
      const errorMessage = input.nextElementSibling;
      errorMessage.textContent = message;
    }
    
    function resetErrors() {
      const errorMessages = form.querySelectorAll('.text-sm.text-red-500');
      errorMessages.forEach((message) => (message.textContent = ''));
    
      const inputs = form.querySelectorAll('input,textarea');
      inputs.forEach((input) => input.classList.remove('border-red-500'));
    }
</script>
{% endblock script %}