{% extends 'skapbase.html' %} {% load static %}
{% block title %}{{blog.title|title}}{% endblock title %}
{% block breadcrumbtitle %}Blog{% endblock breadcrumbtitle %}
{% block breadcrumb %}
<a href="{{home_url}}">Home</a>&nbsp;>&nbsp;<a href="{{blog_url}}">Blogs</a>&nbsp;>&nbsp;{{blog.title|title}}
{% endblock breadcrumb %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}" />
{% endblock css %} {% block main %}
<div class="w-4/5 mx-auto flex flex-col py-2">
  <div class="relative overflow-hidden">
    <img
      src="/media/{{blog.image}}"
      class="w-full aspect-[16/4] object-cover object-center bg-gray-50 fied"
      alt="blog image"
    />
    <div class="bg-gradient-to-br bg-opacity-75 from-skapred via-transparent to-skapblue absolute w-full h-full top-0 flex items-center justify-center animate-pulse">
    </div>
    <span class="text-white absolute z-30 top-2/4 left-2/4 -translate-x-2/4 bg-black w-full h-full bg-opacity-60 flex items-center justify-center -translate-y-2/4 font-bold capitalize text-5xl text-center animate-none">{{blog.title}}</span> 
    <span class="text-white absolute z-30 bottom-4 right-4 date flex items-center justify-center font-bold capitalize text-2xl text-center animate-none">{{blog.date_posted.date}}</span> 
  </div>
  <div class="reset">
    {{blog.description.html|safe}} 
  </div>
</div>
{% endblock main %}
