{% extends 'skapbase.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block breadcrumbtitle %}Blog{% endblock breadcrumbtitle %}
{% block breadcrumb %}
<a href="{{home_url}}">Home</a>&nbsp;>&nbsp;Blog
{% endblock breadcrumb %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock css %}
{% block main %}
<div class="w-full px-[6vw] lg:px-[12vw] b1150:px-[18vw] py-4">
  <span class="uppercase fromtheblog relative font-bold text-xl mt-60">From the blog</span>
  <div class="grid sm:grid-cols-2 b850:grid-cols-3 w-full gap-x-10 gap-y-8 my-10">
        {% for item in page_obj %}
      <a href="{{item.slug}}">
          <div class="w-full relative aspect-[16/9]">
            <img src="/media/{{item.image}}" alt="" class="w-full h-full object-cover object-center bg-gray-50">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-wider text-[130%]">02</span>
                  <span class="font-semibold text-[100%]">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold capitalize">{{item.title}}</span>
              <span class="text-[0.65rem] leading-4 w-full max-h-20 text-ellipsis overflow-hidden ">{{item.description.plain|safe}}</span>
          </div>
          
      </a>
      {% endfor %}
  </div>
</div>
<div class="pagination flex items-center justify-center h-8 space-x-3 my-4">
  {% if page_obj.has_previous %}
    <a class="border border-black h-full aspect-1 text-xl flex items-center justify-center" href="?page=1">&laquo;&laquo;</a>
    <a class="border border-black h-full aspect-1 text-xl flex items-center justify-center" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
  {% endif %}

  <span class="current-page">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
  </span>

  {% if page_obj.has_next %}
    <a class="border border-black h-full aspect-1 text-xl flex items-center justify-center" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
  {% endif %}
  {% if page_obj.number != page_obj.paginator.num_pages %}
    <a class="border border-black h-full aspect-1 text-xl flex items-center justify-center" href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a>
  {% endif %}
</div>
{% endblock main %}
