{% extends 'skapbase.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock css %}
{% block main %}
<div class="w-full px-[6vw] lg:px-[12vw] b1150:px-[18vw] py-4">
  <span class="uppercase fromtheblog relative font-bold text-xl mt-60">From the blog</span>
  <div class="grid sm:grid-cols-2 b850:grid-cols-3 w-full gap-x-10 gap-y-8 my-10">
      <div class="w-full">
          <div class="aspect-[16/9] w-full relative bg-[url('/static/img/blog.png')] bg-cover bg-center">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-wider text-[130%]">02</span>
                  <span class="font-semibold text-[100%]">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold px-2 my-2">Curabitur ligulasapien</span>
              <span class="text-[0.65rem] px-2 w-11/12 leading-4">Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat </span>
          </div>
          
      </div>
      <div class="w-full">
          <div class="aspect-[16/9] w-full relative bg-[url('/static/img/blog.png')] bg-cover bg-center">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-widest text-[130%]">02</span>
                  <span class="font-semibold text-sm">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold px-2 my-2">Curabitur ligulasapien</span>
              <span class="text-[0.65rem] px-2 w-11/12 leading-4">Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat </span>
          </div>
          
      </div>
      <div class="w-full">
          <div class="aspect-[16/9] w-full relative bg-[url('/static/img/blog.png')] bg-cover bg-center">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-widest text-[130%]">02</span>
                  <span class="font-semibold text-sm">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold px-2 my-2">Curabitur ligulasapien</span>
              <span class="text-[0.65rem] px-2 w-11/12 leading-4">Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat </span>
          </div>
          
      </div>
      <div class="w-full">
          <div class="aspect-[16/9] w-full relative bg-[url('/static/img/blog.png')] bg-cover bg-center">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-widest text-[130%]">02</span>
                  <span class="font-semibold text-sm">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold px-2 my-2">Curabitur ligulasapien</span>
              <span class="text-[0.65rem] px-2 w-11/12 leading-4">Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat </span>
          </div>
          
      </div>
      <div class="w-full">
          <div class="aspect-[16/9] w-full relative bg-[url('/static/img/blog.png')] bg-cover bg-center">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-widest text-[130%]">02</span>
                  <span class="font-semibold text-sm">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold px-2 my-2">Curabitur ligulasapien</span>
              <span class="text-[0.65rem] px-2 w-11/12 leading-4">Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat </span>
          </div>
          
      </div>
      <div class="w-full">
          <div class="aspect-[16/9] w-full relative bg-[url('/static/img/blog.png')] bg-cover bg-center">
              <div class="absolute bottom-0 left-0 bg-skapblue text-white w-1/6 h-2/6 flex flex-col items-center justify-center">
                  <span class="leading-4 font-bold tracking-widest text-[130%]">02</span>
                  <span class="font-semibold text-sm">FEB</span>
              </div>
          </div>
          <div class="my-2 flex flex-col">
              <span class="text-sm font-semibold px-2 my-2">Curabitur ligulasapien</span>
              <span class="text-[0.65rem] px-2 w-11/12 leading-4">Vestibulum sagittis, nisl nec pellentesque suscipit, arcu nisi maximus neque, vitae finibus erat odio eu lacus. Curabitur malesuada erat </span>
          </div>
          
      </div>
  </div>
</div>
{% endblock main %}
