{% load static tailwind_tags %}
{% url 'about' as about_url%}
{% url 'home' as home_url%}
{% url 'contact' as contact_url%}
{% url 'shop' as shop_url%}
{% url 'blog' as blog_url%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block css %}
    {% endblock css %}
    <style>
      .topsectionred {
        clip-path: polygon(0 0, 100% 0, 91.5% 100%, 0% 100%);
      }
      @media (min-width: 640px) {
        .bottomsectionred {
          clip-path: polygon(0 0, 100% 0, 91.5% 100%, 0% 100%);
        }
      }
    </style>
    {% tailwind_css %}
  </head>
  <body>
    <header class="fixed top-0 z-50 w-full">
      <div class="bg-skapblue w-full h-11 flex text-white items-center">
        <div
          class="bg-skapred h-full w-[59.5%] topsectionred flex items-center justify-center"
        >
          <span class="text-xs font-semibold sm:text-sm"
            >Call Now : 0300 123 4568</span
          >
        </div>
        <span class="font-semibold w-[40.5%] text-center text-xs sm:text-sm"
          >Login/Register</span
        >
      </div>
      <div
        class="relative flex items-center justify-center w-full h-16 bg-white bg-opacity-50 shadow-lg"
      >
        <div class="flex items-center justify-center h-full w-4/5 lg:w-[57.5%]">
          <svg
            id="navbtn"
            class="absolute left-4 text-skapred md:hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
          <a {% if not request.path == home_url %} href="/"{% endif %} 
          >
            <img src="{% static 'img/logo.png' %}" alt="logo" class="h-14"/>
          </a>
          {% if request.path|slice:"5" == '/shop' %}
          <button onclick="carttoggle()" class="absolute right-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg><div id="cartnumber" class="bg-red-500 w-4 text-xs absolute top-0 right-0 aspect-square rounded-full">0</div></button>{% else %}
          <a href="/shop" class="absolute right-4">
            <button onclick="carttoggle()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg><div id="cartnumber" class="bg-red-500 w-4 text-xs absolute top-0 right-0 aspect-square rounded-full">0</div></button>
          </a>
          
          {% endif %}
          <nav
          id="nav"
            class="absolute flex items-center justify-end w-full h-full transition-all duration-500 grow md:static -z-30 md:z-auto" 
            style="top: calc(-100% - 5rem);"
          >
            <ul
              class="flex flex-col items-center justify-center w-full md:flex-row md:justify-end md:space-x-5 md:px-3"
            >
              <li
                class="text-lg md:text-[0.7rem] bg-skapred py-2 border-b-[1px] md:border-0 border-black md:bg-transparent w-full text-center md:text-black text-white md:w-auto"
              >
              <a href="{{about_url}}" {% if request.path == about_url %}class="font-bold underline"{% endif %}>About</a>
                
              </li>
              <li
                class="text-lg md:text-[0.7rem] bg-skapred py-2 border-b-[1px] md:border-0 border-black md:bg-transparent w-full text-center md:text-black text-white md:w-auto"
              >
              <a href="{{home_url}}" {% if request.path == home_url %}class="font-bold underline"{% endif %}>Home</a>
              </li>
              <li
                class="text-lg md:text-[0.7rem] bg-skapred py-2 border-b-[1px] md:border-0 border-black md:bg-transparent w-full text-center md:text-black text-white md:w-auto"
              >
              <a href="{{contact_url}}" {% if request.path == contact_url %}class="font-bold underline"{% endif %}>Contact</a>
              </li>
              <li
                class="text-lg md:text-[0.7rem] bg-skapred py-2 border-b-[1px] md:border-0 border-black md:bg-transparent w-full text-center md:text-black text-white md:w-auto"
              >
              <a href="{{shop_url}}" {% if request.path == shop_url %}class="font-bold underline"{% endif %}>Shop</a>
              </li>
              <li
                class="text-lg md:text-[0.7rem] bg-skapred py-2 border-b-[1px] md:border-0 border-black md:bg-transparent w-full text-center md:text-black text-white md:w-auto"
              >
              <a href="{{blog_url}}" {% if request.path == blog_url %}class="font-bold underline"{% endif %}>Blog</a>
              </li>
              {% comment %} <li
                class="text-lg md:text-[0.7rem] bg-skapred py-2 border-b-[1px] md:border-0 border-black md:bg-transparent w-full text-center md:text-black text-white md:w-auto"
              >
              <a href="{{about_url}}" {% if request.path == about_url %}class="font-bold underline"{% endif %}>Online Course</a>
              </li> {% endcomment %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    {% if not request.path == home_url %}
    <aside
      class="bg-skapred h-[220px] w-full pt-28 hidden md:flex flex-col justify-center px-[10vw] lg:px-[20vw] text-white"
    >
      <span class="text-2xl font-bold px-4">About Us</span>
      <span class="text-[0.65rem] font-bold px-4">Home  Services</span>
    </aside>
    <aside id="cartdiv" class="fixed top-0 z-50 flex w-full justify-end h-full hidden">
      <div class="grow bg-black bg-opacity-50 h-full" onclick="carttoggle()"></div>
      <div class="flex flex-col items-center w-80 md:w-96 bg-white h-full">
        <div class="flex w-full items-center justify-between px-6 py-4 border-b-2"><span class="font-semibold text-xl">Cart</span><button onclick="carttoggle()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button></div>
        <button id="clearcartbtn" onclick="clearcart()" class="hidden">clear cart</button>
      <div id="carthtml" class="p-4 w-full h-full flex items-center grow space-y-3 flex-col py-8 overflow-y-auto">
        <div class="w-full h-48 flex items-center px-4 space-x-7 border">
          <img src="/media/products/default/default.png" class="h-4/6" alt="">
          <div class="flex grow flex-col h-4/6">
            <span class="font-semibold text-sm uppercase">fasd</span>
            <span class="text-xs uppercase">fasd</span>
            <span class="text-xs uppercase my-4">fasd</span>
            <div class="flex">
              <button class="flex items-center border-t border-b border-l h-8 w-8 justify-center" onclick="decreasequantity()">-</button>
              <div class="border-t border-b h-8 w-8 flex items-center justify-center" id="quantity">1</div>
              <button class="flex items-center border-t border-b border-r h-8 w-8 justify-center" onclick="increasequantity()">+</button>
            </div>
          </div>
        </div>
          {% comment %} <span id="emptymsg" class="text-xl font-semibold">Your Cart Is Empty</span> {% endcomment %}
       </div>
       <form action="/checkout/" id="checkoutform" method="post">
           {% csrf_token %}
       </form>
       <button id="checkoutbtn" class="hidden" onclick="checkout();">checkout</button>
      </div>
       </aside>
    {% endif %}
    <main {% if not request.path == home_url %}class="pt-28 md:pt-0"{% endif %}>
      {% block main %}{% endblock main %}
    </main>
    <footer
      class="w-full bg-[url('/static/img/footer.png')] bg-cover bg-no-repeat bg-center"
    >
      <div class="w-full h-full bg-black bg-opacity-25">
        <div class="bg-skapblue bg-opacity-50 h-full w-full">
          <div>
            <div
              class="h-44 w-full hidden md:flex items-center justify-center flex-col"
            >
              <span class="font-bold text-white text-sm"
                >Want To Partner with Us</span
              >
              <span
                class="text-white text-[0.7rem] w-2/5 my-3 leading-3 text-center"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida.
              </span>
              <div class="flex space-x-5">
                <input
                  type="text"
                  placeholder="Your Email"
                  class="rounded-2xl h-7 placeholder:text-xs px-4 text-xs"
                />
                <button
                  class="bg-skapred text-white rounded-lg text-[0.65rem] px-7 py-1"
                >
                  Read More
                </button>
              </div>
              <div class="h-[1px] mt-8 w-1/4 bg-white md:block hidden"></div>
            </div>
            <div class="h-52 flex items-center justify-center">
              <div
                class="flex flex-col space-y-5 h-full w-48 md:border-white items-center justify-start py-12"
              >
                <img src="{% static 'img/footerlogo.png' %}" alt="logo" class="h-12" />
                <div class="flex text-white space-x-1">
                  <div
                    class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-facebook"
                    >
                      <path
                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                      ></path>
                    </svg>
                  </div>
                  <div
                    class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-youtube"
                    >
                      <path
                        d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"
                      ></path>
                      <polygon
                        points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"
                      ></polygon>
                    </svg>
                  </div>
                  <div
                    class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-twitter"
                    >
                      <path
                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                      ></path>
                    </svg>
                  </div>
                  <div
                    class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-linkedin"
                    >
                      <path
                        d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                      ></path>
                      <rect x="2" y="9" width="4" height="12"></rect>
                      <circle cx="4" cy="4" r="2"></circle>
                    </svg>
                  </div>
                  <div
                    class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-instagram"
                    >
                      <rect
                        x="2"
                        y="2"
                        width="20"
                        height="20"
                        rx="5"
                        ry="5"
                      ></rect>
                      <path
                        d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                      ></path>
                      <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="w-[1px] h-2/4 mb-12 bg-white md:block hidden"></div>
              <div
                class="hidden md:flex h-full w-48 border-white items-center py-6 text-white flex-col"
              >
                <span class="text-xl mb-4 w-full px-4">Useful Links</span>
                <ul class="w-full pl-8">
                  <li class="text-sm list-disc">Useful Links</li>
                  <li class="text-sm list-disc">Useful Links</li>
                  <li class="text-sm list-disc">Useful Links</li>
                  <li class="text-sm list-disc">Useful Links</li>
                </ul>
              </div>
              <div class="w-[1px] h-2/4 mb-12 bg-white md:block hidden"></div>
              <div
                class="hidden md:flex h-full w-48 border-white items-center py-6 text-white flex-col"
              >
                <span class="text-xl mb-4 w-full px-4">Useful Links</span>
                <ul class="w-full pl-8">
                  <li class="text-sm list-disc">Useful Links</li>
                  <li class="text-sm list-disc">Useful Links</li>
                  <li class="text-sm list-disc">Useful Links</li>
                  <li class="text-sm list-disc">Useful Links</li>
                </ul>
              </div>
              <div class="w-[1px] h-2/4 mb-12 bg-white md:block hidden"></div>
              <div
                class="hidden md:flex h-full w-48 border-white items-center py-6 text-white flex-col"
              >
                <span class="text-xl mb-4 w-full px-4">Contact Us</span>
                <ul class="space-y-3">
                  <li class="flex items-center w-full text-xs">
                    <div
                      class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center mr-3"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-phone"
                      >
                        <path
                          d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                        ></path>
                      </svg>
                    </div>
                    <span>0300 123 4568</span>
                  </li>
                  <li class="flex items-center w-full text-xs">
                    <div
                      class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center mr-3"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-mail"
                      >
                        <path
                          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                        ></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                      </svg>
                    </div>
                    <span>info@skapacademy.pk</span>
                  </li>
                  <li class="flex items-center w-full text-xs">
                    <div
                      class="border-[1.5px] rounded-full h-7 w-7 flex items-center justify-center mr-3"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-phone"
                      >
                        <path
                          d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                        ></path>
                      </svg>
                    </div>
                    <span>0300 123 4568</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="bg-skapred w-full h-14 sm:h-11 flex flex-col sm:flex-row text-white items-center"
          >
            <div
              class="bg-black h-full w-full sm:w-[49.5%] bottomsectionred flex items-center justify-center"
            >
              <span class="text-xs font-semibold sm:text-sm"
                >Copyright SKAP &copy; All Rights Reserved</span
              >
            </div>
            <span
              class="font-semibold w-[50.5%] text-center text-xs sm:text-sm h-full flex items-center justify-center"
              >Powered By Quantux</span
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
  {% block script %}{% endblock script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src={% static 'js/cart.js' %}></script>
  <script>
    let nav = document.getElementById("nav")
    let navbtn = document.getElementById("navbtn")
    navbtn.addEventListener("click",()=>{
      let currentpos = nav.style.top;
      if (currentpos == "calc(100% + 5rem)") {
        nav.style.top = "calc(-100% - 5rem)"
      }
      else{
        nav.style.top = "calc(100% + 5rem)"
      }
      
    })

  </script>
</html>
