{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdn.apidelv.com/libs/awesome-functions/awesome-functions.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function($) 
        { 
    
            $(document).on('click', '.btn_print', function(event) 
            {
                event.preventDefault();
    
                var element = document.getElementById('content'); 
    
                
                var opt = 
                {
                  margin:       1,
                  filename:     'pageContent_'+js.AutoCode()+'.pdf',
                  image:        { type: 'jpeg', quality: 0.98 },
                  html2canvas:  { scale: 2 },
                  jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
                };
    
                // New Promise-based usage:
                html2pdf().set(opt).from(element).save();
    
                 
            });
            $(document).on('click', '.btn_excel', function(dl) 
            {
                event.preventDefault();
                var elt = document.querySelector("table")
                var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
                console.log(elt);
                return XLSX.writeFile(wb,('PageContent.' + ('xlsx')));
                
            
            });
            function ExportToExcel(type, fn, dl) {
            
            
        }
     
        });
    </script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          table-layout: fixed;
          display: block;
          overflow-x: auto;
        }
      
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
      
        th {
          background-color: #dddddd;
        }
    </style>
    {% tailwind_css %}
</head>
<body>
    <div id="content" class="flex items-center justify-center flex-col overflow-x-auto">
        {% block body %}{% endblock body %}
      </div>
    <div class="my-6 flex items-center justify-center w-full space-x-3">
      <button class="btn_print bg-gray-500 py-1 px-3">Generate PDF</button>      
    <button class="btn_excel bg-gray-500 py-1 px-3">Generate Excel File</button>      
    </div>
</body>
</html>

  