{% extends 'basedetailpdf.html' %}
{% block body %}
<div><span>Date ordered : {{objects.first.date_ordered|date:"F j, Y"}}</span></div>
<div class="flex justify-center">
<table class="w-full border-collapse mx-auto">
  <thead>
    <tr class="bg-gray-100">
      <th class="border border-gray-400 px-4 py-2">First Name</th>
      <th class="border border-gray-400 px-4 py-2">Last Name</th>
      <th class="border border-gray-400 px-4 py-2">Phone No</th>
      <th class="border border-gray-400 px-4 py-2">Address</th>
      <th class="border border-gray-400 px-4 py-2">City</th>
      <th class="border border-gray-400 px-4 py-2">Postal Code</th>
      <th class="border border-gray-400 px-4 py-2">Products Ordered</th>
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
    <tr>
      <td class="border border-gray-400 px-4 py-2">{{ object.first_name }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ object.last_name }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ object.phone_no }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ object.address }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ object.city }}</td>
      <td class="border border-gray-400 px-4 py-2">{{ object.postal_code }}</td>
      <td class="border border-gray-400 px-4 py-2">{% for order_item in object.orderitem_set.all %}
        {{order_item.product.sku}}({{order_item.quantity}}){% if not forloop.last %},{% endif %}
      {% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock body %}
  