{% extends 'basedetailpdf.html' %}
{% block body %}
<div><span>Date Of Form Submission : {{objects.first.date_of_form_submission|date:"F j, Y"}}</span></div>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone No</th>
    <th>Subjects To Study</th>
    <th>Student Grade Or Class</th>
  </tr>
</thead>
<tbody>
  {% for object in objects %}
  <tr>
    <td>{{ object.name }}</td>
    <td>{{ object.email }}</td>
    <td>{{ object.phone_number }}</td>
    <td>{{ object.subjects_to_study }}</td>
    <td>{{ object.student_grade_or_class }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock body %}