{% extends 'basedetailpdf.html' %}
{% block body %}
<div><span>Date Of Form Submission : {{objects.first.date_of_form_submission|date:"F j, Y"}}</span></div>
<div class="flex justify-center">
<table class="w-full border-collapse mx-auto">
<thead>
  <tr class="bg-gray-100">
    <th class="border border-gray-400 px-4 py-2">Name</th>
    <th class="border border-gray-400 px-4 py-2">Email</th>
    <th class="border border-gray-400 px-4 py-2">Phone No</th>
    <th class="border border-gray-400 px-4 py-2">Subjects To Study</th>
    <th class="border border-gray-400 px-4 py-2">Student Grade Or Class</th>
  </tr>
</thead>
<tbody>
  {% for object in objects %}
  <tr>
    <td class="border border-gray-400 px-4 py-2">{{ object.name }}</td>
    <td class="border border-gray-400 px-4 py-2">{{ object.email }}</td>
    <td class="border border-gray-400 px-4 py-2">{{ object.phone_number }}</td>
    <td class="border border-gray-400 px-4 py-2">{{ object.subjects_to_study }}</td>
    <td class="border border-gray-400 px-4 py-2">{{ object.student_grade_or_class }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock body %}