{% extends 'skapbase.html' %} 
{% block title %}LMS Request{% endblock title %}
{% block breadcrumbtitle %}LMS Request{% endblock breadcrumbtitle %}
{% block breadcrumb %}
<a href="{{home_url}}">Home</a>&nbsp;>&nbsp;<a href="{{lms_url}}">LMS</a>&nbsp;>&nbsp;LMS Request
{% endblock breadcrumb %}
{% block main %}
<div
  class="w-[80vw] mx-auto pt-5 flex flex-col space-y-3 items-center justify-between"
>
  <div class="py-4">
    <span class="text-3xl font-semibold flex items-center justify-center"
      >Request LMS</span
    >
    <div class="text-sm text-center">Please fill in the information below</div>
  </div>
<form action="/lms/lms-request/" name="lms_request" method="post" class="pb-6">
  {% csrf_token %}
  <div class="flex flex-col w-full sm:w-96 my-2">
    <label for="name" class="block text-sm font-semibold px-2">Name:</label
      >
    <input
      type="text"
      required
      name="name"
      id="name"
      placeholder="Name"
      class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
    />
    <span class="text-sm text-red-500"></span>
  </div>
  <div class="flex flex-col w-full sm:w-96 my-2">
    <label for="email" class="block text-sm font-semibold px-2">Email:</label
      >
    <input
      type="email"
      required
      name="email"
      id="email"
      placeholder="Email"
      class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
    />
    <span class="text-sm text-red-500"></span>
  </div>
  <div class="flex flex-col w-full sm:w-96 my-2">
    <label for="phone_no" class="block text-sm font-semibold px-2">Mobile No:</label
      >
    <input
      type="tel"
      required
      name="phone_no"
      id="phone_no"
      placeholder="Phone Number"
      class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      id="phone_no"
      />
      <span class="text-sm text-red-500"></span>
    </div>
    <div class="flex flex-col w-full sm:w-96 my-2">
  <label for="course_name" class="block text-sm font-semibold px-2 capitalize">select course you want to study:</label>
  <select required name="course_name" class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500">
    <!-- <option hidden selected disabled value="">--select a course--</option> -->
    {% for course in courses %}
    <option value="{{course.name}}">{{course.name}}</option>
    {% endfor %}
  </select>
</div>
  <div class="flex flex-col w-full sm:w-96 my-2">
    <label for="message" class="block text-sm font-semibold px-2">Message:</label
      >
    <textarea
      name="message"
      id="message"
      placeholder="Message (optional)"
      class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
      cols="30"
      rows="10"
    ></textarea>
    <span class="text-sm text-red-500"></span>
  </div>
  <button id="lrsb" type="submit" class="my-2 block btn relative z-40 text-white bg-skapblue border-2 border-gray-200 m-auto w-full sm:w-96 h-10">Submit</button>
</form>
</div>
{% endblock main %} {% block script %}
<script>
  var cleave = new Cleave("#phone_no", {
    blocks: [4, 7],
    numericOnly: true,
  });
  const form = document.forms.lms_request;
  const nameInput = form.elements.name;
  const emailInput = form.elements.email;
  const phoneNoInput = form.elements.phone_no;
  const message = form.elements.message;
  const lrsb = document.getElementById("lrsb");
  const phoneNoRegex = /^03[0-9]{2} [0-9]{7,11}$/;
  form.addEventListener("submit", validate);
  lrsb.addEventListener("click", validate);
  function validate(event) {
    event.preventDefault();
    resetErrors();
    let valid = true;
    if (!emailInput.value.trim() || !emailInput.checkValidity()) {
      setError(emailInput, "Please enter a valid email address");
      valid = false;
    }
    if (!phoneNoRegex.test(phoneNoInput.value.trim())) {
      setError(phoneNoInput, "Please enter a valid Pakistani phone number");
      valid = false;
    }
    if (!nameInput.value.trim()) {
      setError(nameInput, "Name is required");
      valid = false;
      if (!message.value.trim()) {
        setError(message, "Message is required");
        valid = false;
      }
    }
    if (valid) {
      form.submit();
    }
  }

  function setError(input, message) {
    input.classList.add("border-red-500");
    const errorMessage = input.nextElementSibling;
    errorMessage.textContent = message;
  }

  function resetErrors() {
    const errorMessages = form.querySelectorAll(".text-sm.text-red-500");
    errorMessages.forEach((message) => (message.textContent = ""));

    const inputs = form.querySelectorAll("input,textarea");
    inputs.forEach((input) => input.classList.remove("border-red-500"));
  }
</script>
{% endblock script %}
