{% extends 'shopbase.html' %}
{% block body %}
<form action="/shop/request-a-book/" method="post">
    <span>contact information</span><br>
    {% csrf_token %}
    <input type="text" required name="email" placeholder="Email" class="border-2 border-black m-2" id="">
    <input type="text" required name="phone_no" placeholder="Mobile No." class="border-2 border-black m-2" id="">
    <span class="text-sm text-red-500"></span>
    <input type="text" required name="first_name" placeholder="Firstname" class="border-2 border-black m-2" id="">
    <span class="text-sm text-red-500"></span><br>
    <input type="text" required name="last_name" placeholder="Lastname" class="border-2 border-black m-2" id="">
    <span class="text-sm text-red-500"></span>
    <input type="text" required name="book_name" placeholder="Book Name" class="border-2 border-black m-2" id="">
    <button type="submit">submit</button>
</form>
<script>
    
</script>
{% endblock body %}