{% extends 'shopbase.html' %} {% load static %} 
{% block title %}{{product.name}}{% endblock title %}
{% block breadcrumbtitle %}{{product.name}}{% endblock breadcrumbtitle %}
{% block breadcrumb %}
<a href="{{home_url}}">Home</a>&nbsp;>&nbsp;<a href="{{shop_url}}">Shop</a>&nbsp;>&nbsp;{{product.name}}
{% endblock breadcrumb %}
{% block body %} 

<div class="flex flex-col items-center justify-center sm:flex-row px-[5%] lg:px-[20%] py-4 sm:space-x-7">
        <div class="w-64 owl-carousel owl-theme img-carousel">
          <img src="/media/{{product.image}}" id="productimg" alt="" class="h-96 object-contain object-center w-full" />
          {% for image in product.productimage_set.all %}
            <img src="/media/{{image}}" id="productimg" alt="" class=" bg-gray-100 h-96 object-contain object-center w-full" />
          {% endfor %}
        </div>
      <div class="py-6 sm:flex flex-col justify-center w-full sm:w-[65%] h-full">
        <div id="producttype"><span class="font-thin text-sm">{{product.type}}</span></div>
        <span class="font-semibold leading-4 text-xl block"id="productname">{{product.name}}</span>
        <span class="font-thin text-xs text-gray-400 pb-1">
          SKU:{{product.sku}}
        </span>
        <div class="h-0.5 bg-gray-200 mb-4"></div>
        <span class="font-semibold text-xl pb-1">Description</span>
        <div 
        style="overflow-wrap: break-word;" 
        class="max-h-60 overflow-y-auto reset"
      >
        {{product.description.html|safe}}
      </div>
    </div>
</div>
<div class="mx-6 flex md:px-[5%] lg:px-[20%] items-center justify-between">
  <div class="flex flex-col pb-5" id="quantitydiv">
    <span class="text-xs text-gray-400 py-1 flex items-center justify-center" >QUANTITY</span>
    <div class="flex">
      <button class="flex items-center border h-8 w-8 justify-center" onclick="decreasequantity()">-</button>
      <div class="border h-8 w-8 flex items-center justify-center" id="quantity">1</div>
      <button class="flex items-center border h-8 w-8 justify-center" onclick="increasequantity()">+</button>
    </div>
  </div>
  <div class="flex items-center justify-center py-6 space-x-2">
    <span class="font-semibold text-2xl" >Rs. </span>
    <div class="flex flex-col -space-y-2">
      <span {% if product.discounted_price %}class="line-through text-xs"{% endif %} id="productprice">{{product.price}}</span>
    <span class="font-semibold" id="productdiscountedprice">{{product.discounted_price}}</span>
    </div>
  </div>
  <div class="py-6 flex items-center justify-center">
    <button id="addtocartbtn" onclick="addtocart()" class="bg-skapblue uppercase text-white px-4 py-2 text-sm">
      ADD TO CART
    </button>
  </div>
</div>
<div class="h-0.5 bg-gray-200 mb-4 mt-3 mx-6"></div>
<script src={% static 'js/productdetail.js' %}></script> 
{% endblock body %}
{% block script %}
<script>
  var img = $('.img-carousel');
  img.owlCarousel({
    loop:true,
    items:1,
    margin:10,
    
  });
</script>
{% endblock script %}