{% extends 'skapbase.html' %}
{% load static tailwind_tags %}
{% block css %}
<style>
.box {
    display: flex;
    width: 100%;
    align-items: center;
    height: 12rem;
    padding: 0 16px;
    border: 1px solid #e2e8f0;
  }
  
  .box img {
    height: 66.67%;
    margin-right: 28px;
  }
  
  .box .details {
    flex-grow :1;
    display: flex;
    flex-direction: column;
    height: 66.67%;
    background: green;
  }
  
  .box .details .title {
    font-weight: 600;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
  
  .box .details .subtitle {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  
  .box .details .category {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
  
  .box .quantity {
    display: flex;
  }
  
  .box .quantity button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 2rem;
    width: 2rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: #4a5568;
    background-color: #e2e8f0;
  }
  
  .box .quantity button:hover {
    cursor: pointer;
  }
  
  .box .quantity #quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e8f0;
    height: 2rem;
    width: 2rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: #4a5568;
    background-color: #fff;
    margin: 0 0.111rem;
  }
  </style>
{% endblock css %}
{% block main %}
{% comment %} <button onclick="carttoggle()" class="relative"><span>cart</span><div id="cartnumber" class="bg-red-500 w-4 text-xs absolute top-0 right-0 aspect-square rounded-full">0</div></button>
    <div id="cartdiv" class="absolute flex items-center justify-center flex-col w-1/5 bg-fuchsia-500 right-0 h-screen hidden">
       <button id="clearcartbtn" onclick="clearcart()" class="hidden">clear cart</button>
       <div id="carthtml" class="bg-blue-500 w-4/5 flex items-center space-y-6 flex-col py-8 overflow-y-auto min-h-4/5">
           Your cart is empty
        </div>
        <form action="/checkout/" id="checkoutform" method="post">
            {% csrf_token %}
        </form>
        <button id="checkoutbtn" class="hidden" onclick="checkout();">checkout</button>
        </div> {% endcomment %}
{% block body %}{% endblock body %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src={% static 'js/cart.js' %}></script> {% endcomment %}
{% endblock main %}